*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
header{
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color:white;
    border-bottom-width:10px solid black ;
    z-index: 100;

}
.left-section{
    width: 150px;
    margin-left: 20px;
    display: flex;
    align-items: center;


}
.logo{
    height: 60px;
    margin-left: 20px;
    
}
.menu{
    margin-top: 10px;
    cursor: pointer;
    /* Hide the hamburger menu by default */
    display: none;
        
    }

/* Show the hamburger menu on smaller screens */
@media (max-width: 725px){
    .menu{
        display: block;
    }
}
.midle-section{
    
    flex: 1;
    display: flex;
    align-items: center;
    margin: 0 10px;
    
}
.right-section{
   display: flex;
    width: 300px;
    margin-right: 40px;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    position: relative;
}

@media (max-width: 725px){
    .right-section{
        width: auto;
        margin-right: 10px;
    }
    .right-section .plus,
    .right-section .dot,
    .right-section .not-s{
        display: none;
    }
    .left-section{
        width: auto;
        margin-left: 10px;
    }
}
img{
    height: 40px;
}
.profile{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.voice{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-left: 8px;
}


.search{
    flex: 1;
    height: 47px;
    outline: none;
    padding-left: 20px;
    font-size: 16px;
    width: 0;

}
.search::{
    font-family: sans-serif;
    font-size: 16px;
}
.midle-section img{
    position: relative;
}




.plus{
    width: 60px;
    height: 60px;
    margin-top: 5px;
}
.not-s{
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius:50px;
    top: 5px;
    right: 80px;

}
.not-s p{
    color: white;
}
.dot{
    height: 60px;
}
.nots{
    animation-name: animation;
    animation-duration: 0.5s;
}
@keyframes animation{
    0%{transform:translatex(0deg);}
    25%{transform:translatex(180deg) ;}
    50%{transform:translatex(360deg) ;}
    75%{transform:translatex(-180deg) ;}
    100%{transform:translatex(0deg) ;}
    75%{transform: rotate(55deg);}
    100%{transform: rotate(0deg);} 
}



 